<div class="page-header">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>welcome {{main.username}} to the war!!!</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Enter into the War</a></p>
  </div>
  
</div>
