<div class="page-header" ng-controller ="chatCtrl as chat">
  <h1>Chats</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h3>Utilisateurs connectés</h3>
          <ul class="list-group" id="users">
            
          </ul>
        </div>
      </div>

      <div class="col-md-8">
           <ul>
             <li ng-repeat="message in chat.messages track by $index">

               {{message.username}}:{{message.message}}

             </li>
           </ul>


        <form class="messageForm">
          <div class="form-group">
            <label>Entrez votre message</label>
            <textarea class="form-control" name"message" type="text" ng-enter='sendMessage()' ng-model='message' placeholder='Enter your message here' size='50'>
            </textarea>
          </div>
          <br>
          <button class="btn btn-primary" ng-click="sendMessage()">send</button>
          </form>
      </div>
    </div>
  </div>
</div>
