<!DOCTYPE html>
<html lang="fr">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A little WW">
    <meta name="author" content="Didier ROMAIN">


    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- bootstrap Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="asset/css/nav-style.css" rel="stylesheet" type="text/css">
    <link href="asset/css/style.css" rel="stylesheet" type="text/css">

    <!-- Anguler main files -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="asset/js/angular-route.js"></script>

    <!-- Anguler route/config -->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>

    <!-- Anguler controllers -->
    <script src="app/controllers/userCtl.js"></script>
    <script src="app/controllers/mainCtl.js"></script>
    <script src="app/controllers/emailCtl.js"></script>
    <script src="app/controllers/chatCtl.js"></script>
    <script src="app/controllers/gameCtl.js"></script>

    <!-- Anguler services -->
    <script src="app/services/userServices.js"></script>
    <script src="app/services/loginServices.js"></script>
    <script src="app/services/messageServices.js"></script>

    <title>Battleship Royal</title>

  </head>

  <body ng-app="battleshipApp" ng-controller ="mainCtrl as main" ng-show="main.loadme" ng-cloak>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Hello {{main.username}}</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="#!/">Home</a></li>
            <li><a href="#">Projects</a></li>

            <li ng-show="main.isLoggedIn"><a href="#!/chat">Chat</a></li>
            <li ng-show="main.isLoggedIn"><a href="#!/game">Game</a></li>
            <li><a href="#!/about">About</a></li>
            <li ng-show="!main.isLoggedIn"><a  href="#!/register">Register</a></li>
            <li ng-show="!main.isLoggedIn"><a href="#!/login">Login</a></li>
            <li ng-show="main.isLoggedIn"><a  href="#!/logout" ng-click="main.logout();">Logout</a></li>
            <li ng-show="main.isLoggedIn"><a href="#!/profile">{{main.username}}</a></li>
          </ul>
        </nav>
      </div>
      <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  </body>
</html>
