<div class="page-header"><h1>Reset mot de passe</h1></div>
<form ng-submit="password.doLogin(loginData);">

  <!--Password-->
  <label>Password: </label>
  <input class="form-control" type="password" name"password" placeholder="Entrez votre mot de passe" ng-model="password.loginData.password">
  <br>

  <button class="btn btn-success" type="submit">connexion</button>

</form>

<br>

<div class="jumbotron text-center" ng-show="password.loading">
  <span class="glyphicon glyphicon-repeat spinner">
    <p>Chargement</p>
  </span>
</div>

<div class="row show-hide-message" ng-show="password.successMessage">
  <div class="alert alert-success">{{ password.successMessage }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="password.errorMessage">
  <div class="alert alert-danger">{{ password.errorMessage }}</div>
</div>
