<div class="page-header"><h1>reset username</h1></div>

<form ng-submit="username.doLogin(loginData);">
  <!--Username-->
  <label>E-mail: </label>
  <input class="form-control" type="text" name"username" placeholder="Entrez votre nom" ng-model="username.loginData.email">
  <br>


  <button class="btn btn-success" type="submit">Valider</button>

</form>

<br>

<div class="jumbotron text-center" ng-show="username.loading">
  <span class="glyphicon glyphicon-repeat spinner">
    <p>Chargement ...</p>
  </span>
</div>

<div class="row show-hide-message" ng-show="username.successMessage">
  <div class="alert alert-success">{{ username.successMessage }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="username.errorMessage">
  <div class="alert alert-danger">{{ reset.errorMessage }}</div>
</div>
