<div class="page-header">Connexion</div>
<form ng-submit="main.doLogin(loginData);">
  <!--Username-->
  <label>Username: </label>
  <input class="form-control" type="text" name"username" placeholder="Entrez votre nom" ng-model="main.loginData.username">
  <br>
  <!--Password-->
  <label>Password: </label>
  <input class="form-control" type="password" name"password" placeholder="Entrez votre mot de passe" ng-model="main.loginData.password">
  <br>

  <button class="btn btn-success" type="submit">connexion</button>
  <div class="reset">
    <a href="#!/resetusername"><button class="btn btn-info" type="button">reset username </button></a>
    <a href="#!/resetpassword"><button class="btn btn-danger" type="button">reset mot de passe </button></a>
  </div>
</form>

<br>

<div class="jumbotron text-center" ng-show="main.loading">
  <span class="glyphicon glyphicon-repeat spinner">
    <p>Chargement</p>
  </span>
</div>

<div class="row show-hide-message" ng-show="main.successMessage">
  <div class="alert alert-success">{{ main.successMessage }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="main.errorMessage">
  <div class="alert alert-danger">{{ main.errorMessage }}</div>
</div>
