<div class="page-header">
  <h1>Profile</h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading" style="text-align: center;"> User profile </div>

  <table class="table">
    <tr>
      <td>Username</td>
      <td>Email</td>
      <td>Mot de passe</td>
    </tr>
    <tr>
      <td>{{main.username}}</td>
      <td>{{main.useremail}}</td>
      <td>*************</td>
    </tr>
  </table>
</div>
