<div class="page-header">Nouvel utilisateur</div>
<form ng-submit="register.regUser(regData);">

  <!--Name-->
  <label>Name: </label>
  <input class="form-control" type="text" name"name" placeholder="Entrez votre nom" ng-model="register.regData.name">
  <br>

  <!--Username-->
  <label>Username: </label>
  <input class="form-control" type="text" name"username" placeholder="Entrez votre pseudo" ng-model="register.regData.username">
  <br>
  <!--Password-->
  <label>Password: </label>
  <input class="form-control" type="password" name"password" placeholder="Entrez votre mot de passe" ng-model="register.regData.password">
  <br>
  <!--Email-->
  <label>email: </label>
  <input class="form-control" type="text" name"email" placeholder="Entrez votre email" ng-model="register.regData.email">
  <br>
  <button class="btn btn-primary" type="submit">Enregistrer</button>
</form>

<br>

<div class="jumbotron text-center" ng-show="register.loading">
  <span class="glyphicon glyphicon-repeat spinner">
    <p>Chargement</p>
  </span>
</div>

<div class="row show-hide-message" ng-show="register.successMessage">
  <div class="alert alert-success">{{ register.successMessage }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="register.errorMessage">
  <div class="alert alert-danger">{{ register.errorMessage }}</div>
</div>
